<span>
    <span class='SQOR_athleteCard'>
        <span class='SQOR_athleteNumber'>
            <%= athleteNumber %>
        </span>
        <span class='SQOR_athleteFullName'>
            <%= athleteFirstName%> 
            <span class='SQOR_athleteLastName'> 
                <%= athleteLastName %> 
            </span>
        </span>
        <span class='SQOR_athletePosition'>
            <%= athletePosition %>
        </span>

        <span class="SQOR_athleteSqor <%= hiddenClass %>"  >
            S
        </span>
    </span>
</span>
